.countriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  margin: 0 100px;
}

.countryContainer {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: var(--elements-color);
  height: fit-content;
  flex-basis: 300px;
  height: 400px;
  flex-shrink: 0;
  color: var(--text-color);
}
.flagWrapper {
  height: 200px;
  width: 100%;
}

.countryContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: fill;
  display: block;
}

.countryDescription {
  padding: 20px 40px;
}

.countryDescription p {
  line-height: 10px;
}

.titleBar {
  background-color: var(--elements-color);
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.titleBar h1 {
  color: var(--text-color);
  margin: 0;
}

.themeButtonContainer {
  display: flex;
  align-items: center;
}

.themeButton {
  background-color: var(--elements-color);
  color: var(--text-color);
  border: 0;
  font-size: 16px;
  font-weight: 600;
}
