.countriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 0 100px;
}

.countryContainer {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: var(--elements-color);
  height: fit-content;
  flex-basis: 300px;
  height: 400px;
  flex-shrink: 0;
  color: var(--text-color);
}
.flagWrapper {
  height: 200px;
  width: 100%;
}

.countryContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: fill;
  display: block;
}

.countryDescription {
  padding: 20px 40px;
}

.countryDescription p {
  line-height: 10px;
}

.titleBar {
  background-color: var(--elements-color);
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px 11%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.titleBar h1 {
  color: var(--text-color);
  margin: 0;
}

.themeButtonContainer {
  display: flex;
  align-items: center;
}

.themeButton {
  background-color: var(--elements-color);
  color: var(--text-color);
  border: 0;
  font-size: 16px;
  font-weight: 600;
}

.filterInputs {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px 11%;
}

.searchInput {
  width: 35%;
  height: 50px;
  padding: 10px 40px;
  background-color: var(--elements-color);
  color: var(--text-color);
  border: 0;
  outline: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.regionInput {
  background-color: var(--elements-color);
  color: var(--text-color);
  padding: 10px 40px;
  outline: none;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;

  border-right: 16px solid transparent;
}

.regionInput::picker {
  color: black;
}

.searchInput::placeholder {
  color: var(--text-color);
  opacity: 50%;
}
