.countriesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
  margin: 0 100px;
}

.countryContainer {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  height: fit-content;
  flex-basis: 300px;
  height: 400px;
  flex-shrink: 0;
}
.flagWrapper {
  height: 200px;
  width: 100%;
}

.countryContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: fill;
  display: block;
}

.countryDescription {
  padding: 20px;
}

.countryDescription p {
  line-height: 10px;
}
