@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root[data-theme='light'] {
  --text-color: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 50%);
  --background-color: hsl(0, 0%, 99%);
  --elements-color: hsl(0, 100%, 100%);
}

:root[data-theme='dark'] {
  --text-color: white;
  --elements-color: hsl(209, 23%, 22%);
  --background-color: hsl(207, 26%, 17%);
}
